name: test
on:
  push:
    branches:
    - main
  workflow_dispatch:
  pull_request:
    paths:
    - src/**
    - pyproject.toml
    - tests/**
    - .github/workflows/test.yml
env:
  OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}
  DATABRICKS_CLIENT_ID: ${{ secrets.DATABRICKS_CLIENT_ID }}
  DATABRICKS_CLIENT_SECRET: ${{ secrets.DATABRICKS_CLIENT_SECRET }}
  DATABRICKS_HOST: ${{ secrets.DATABRICKS_HOST }}
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Install Hatch
      uses: pypa/hatch@install
    - run: hatch fmt --check
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
        - ubuntu-latest
        - windows-latest
        - macos-latest
        python:
        - '3.10'
        - 3.11
        - 3.12
        - 3.13
        - 3.14
    steps:
    - uses: actions/checkout@v4

    - uses: databricks/setup-cli@main
    - uses: 1password/install-cli-action@v2
    - name: Install Hatch
      uses: pypa/hatch@install
    - name: test
      run: hatch test -c
